# 1. 언리얼 빌드/캐시 찌꺼기 완벽 차단
/LyraStarterGame/Binaries/
/LyraStarterGame/DerivedDataCache/
/LyraStarterGame/Intermediate/
/LyraStarterGame/Saved/
/LyraStarterGame/.vs/
/LyraStarterGame/*.sln

# 2. 무거운 에셋 및 엔진 원본 소스 완벽 차단
/LyraStarterGame/Content/
/LyraStarterGame/Source/

# 3. 플러그인 필터링 (우리 플러그인만 남기고 전부 차단)
/LyraStarterGame/Plugins/*
!/LyraStarterGame/Plugins/GameFeatures/
/LyraStarterGame/Plugins/GameFeatures/*
!/LyraStarterGame/Plugins/GameFeatures/AntiCheatFeature/